#announcements
  - if can? :create, Message
    .pull-right= link_to_new new_message_path, 'Add New Announcement'

  %h1 Announcements

  .row
    %strong
      .col-sm-2 Date Created
      .col-sm-8 Message
      .col-sm-2 Status
    %hr

  - @messages.each do |message|
    .box{ class: message.status }
      .controls= render 'partials/admin_commands', klass: message
      .row
        .col-sm-2= simple_format message.created_stamp
        .col-sm-8
          .signature #{link_to_member message.sender} wrote:
          .panel.padding-5
            = markdown message.message
        .col-sm-2
          - if !message.approved?
            Waiting on Approval
            - if can? :manage, message
              .admin-controls= get_icon 'thumbs-up', text: nil, title: 'Approve'
          - else
            - if message.delivered?
              - if can? :manage, message
                Sent at<br>#{simple_format message.sent_stamp}
              - else
                Delivered
            - else
              = simple_format 'Approved<br>but Not Delivered<br>'
              - if can? :manage, message
                .admin-controls= get_icon :email, text: nil, title: 'Retry'
            - if can? :manage, message
              Approved by<br>#{link_to_member message.approver}

  = will_paginate @messages, renderer: BootstrapPagination::Rails

