#announcements
  - if can? :create, @members
    .pull-right= link_to_new new_message_path, 'Add New Announcement'

  %h1 Announcements

  .row
    %strong
      .col-sm-2 Date Created
      .col-sm-8 Message
      .col-sm-2 Status
    %hr

  - @messages.each do |message|
    - if message.approved? or can? :manage, message
      .box{ class: message.status }
        .controls= render 'partials/admin_commands', klass: message
        .row
          .col-sm-2= simple_format message.created_stamp
          .col-sm-8
            .signature #{message.sender.name} wrote:
            .panel.padding-5
              = markdown message.message
          .col-sm-2
            - if can? :manage, message and !message.approved?
              .approval.text-left Approve
            - else
              - if message.delivered?
                = (can?( :manage, message ) ? 'Sent at: ' + simple_format( message.sent_stamp ) : 'Delivered').html_safe
              - else
                Not Sent

  = will_paginate @messages, renderer: BootstrapPagination::Rails

