#announcements
  - if can? :create, Message
    .pull-right= link_to_new new_message_path, 'Add New Announcement'

  %h1 Announcements

  .row
    %strong
      .col-sm-2 Date Created
      .col-sm-8 Message
      .col-sm-2 Status
    %hr

  - @messages.each do |message|
    .box{ class: message.status_class }
      - if !message.approved?
        .controls= render 'partials/admin_commands', klass: message
      .row
        .col-sm-2= simple_format message.time_stamp(:created, :long)
        .col-sm-8
          .signature #{link_to_member message.sender} wrote:
          .panel.padding-5
            .message-subject= message.subject
            .message-body= message.formatted_text
          .bs-popover.member-count{ title: "Sent to the following #{pluralize(message.members.count, 'Member')}",
            data: { container: 'body', toggle: 'popover', placement: 'auto left', trigger: 'click',
                    content: message.members.collect{|m| m.name}.to_sentence } }
            = "Sent to #{pluralize(message.members.count, 'Member')}"
        .col-sm-2
          - if !message.approved?
            .status Waiting on Approval
            - if can? :manage, message
              .admin-controls= link_to get_icon( 'thumbs-up', title: 'Approve' ), message_approve_path(message)
          - else
            - if message.delivered?
              - if can? :manage, message
                .status delivered at #{simple_format message.time_stamp(:delivered) }
              - else
                .status Delivered
            - else
              - if message.sent?
                - if can? :manage, message
                  .status Sent at #{simple_format message.time_stamp(:sent) }
                - else
                  .status Sending
              - else
                .status Not Yet Sent

              - if can? :manage, message
                .admin-controls= link_to get_icon( :email, title: 'Retry' ), message_resend_email_path(message)

            - if can? :manage, message
              .status.approval Approved by<br>#{link_to_member message.approver}

  = will_paginate @messages, renderer: BootstrapPagination::Rails

