#announcements
  - if can? :create, Message
    .pull-right
      = link_to new_message_path, class: 'btn btn-info' do
        = get_icon :plus, text: 'Add New Announcement'

  %h1 Announcements

  .row
    %strong
      .col-sm-2 Date Created
      .col-sm-8 Message
      .col-sm-2 Status
    %hr

  - @messages.each do |message|
    .box{ class: message.status_class }
      - if !message.approved?
        .controls= render 'partials/admin_commands', klass: message
      .row
        .col-sm-2= link_to simple_format( message.time_stamp(:created, :long) ), message_path(message)
        .col-sm-8
          .signature #{link_to_member message.sender} wrote:
          .panel.padding-5
            .message-subject= message.subject
            .message-body= sanitize message.formatted_text
          %span.member-count{ rel: 'popover', title: "Sent to the following #{pluralize(message.members.count, 'Member')}",
            data: { container: 'body', toggle: 'popover', placement: 'auto left', trigger: 'click',
                    content: message.members.collect{|m| m.name}.to_sentence } }
            = get_icon :envelope, text: "Sent to #{pluralize(message.members.count, 'Member')}"
        .col-sm-2
          - if !message.approved?
            .status Waiting on Approval
            - if can? :manage, message
              .admin-controls
                = link_to get_icon( 'thumbs-up', title: 'Approve' ),
                    message_approve_path(message),
                    data: { disable_with: '...', remote: true }
          - else
            - if message.delivered?
              - if can? :manage, message
                .status Delivered at #{simple_format message.time_stamp(:delivered) }
              - else
                .status Delivered
            - else
              .status= message.sent? ? "Sent at #{simple_format message.time_stamp(:sent)}" : 'Not Sent Yet'

              - if can? :manage, message
                .admin-controls= link_to get_icon( :email, title: 'Retry' ), message_resend_email_path(message)

            - if can? :manage, message
              .status.approval Approved by<br>#{link_to_member message.approver}

  = will_paginate @messages, renderer: BootstrapPagination::Rails

