%ul#main-navigation-menu
  - if member_signed_in?
    %li
      Logged in as
      = link_to current_member.email, current_member

    %li= link_to 'Logout', destroy_member_session_path, method: :delete

    %li= link_to 'Home', root_path

    - if current_member.is_admin?
      %li= link_to 'Admin', admin_path

  - else
    %li= link_to 'Login', new_member_session_path
