.container
  %nav#main-nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      = button_tag class: 'navbar-toggle', data: { toggle: 'collapse', target: '#main-navbar-collapse' } do
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        = link_to image_tag('WWIT-Logo.png', height: 40), theatre_url
        = link_to 'WWIT Backstage', root_path, class: 'navbar-link brand-logo'

    // Collect the nav links, forms, and other content for toggling
    #main-navbar-collapse.collapse.navbar-collapse

      %ul.nav.navbar-nav
        - if member_signed_in?
          -#%li{ class: is_active?(root_path)    }= link_to 'Home', root_path
          %li{ class: is_active?(members_path)  }= link_to 'Members', members_path
          %li{ class: is_active?(shows_path)    }= link_to 'Shows', shows_path
          %li{ class: is_active?(messages_path) }= link_to 'Announcements', messages_path

      %ul.nav.navbar-nav.navbar-right
        - if member_signed_in?

          %li.dropdown
            = link_to root_path, class: 'dropdown-toggle', data: { toggle: 'dropdown', target: '#' } do
              - if current_member.is_admin?
                = get_icon :tower
              - else
                = get_icon :member
              = current_member.name
              %b.caret

            %ul.dropdown-menu
              %li= link_to 'Your Profile', member_path(current_member)
              %li= link_to 'Conflicts', manage_member_conflicts_path(current_member)
              %li= link_to 'Sign Out', destroy_member_session_path, method: :delete
              - if current_member.superuser?
                %li= link_to 'Admin Mode ' + ( current_member.is_admin? ? 'Off' : 'On' ), admin_path, remote: true

              - if current_member.has_role?(:management) or current_member.has_role?(:admin)
                %li.divider
                %li{ class: is_active?(roles_path)          }= link_to 'View Roles', roles_path

              - if current_member.has_role?(:admin)
                %li.divider
                %li{ class: is_active?(conflicts_path)      }= link_to 'Manage Conflicts', conflicts_path
                %li{ class: is_active?(shifts_path)         }= link_to 'Manage Shifts', shifts_path
                %li{ class: is_active?(skills_path)         }= link_to 'Manage Skills', skills_path
                %li{ class: is_active?(show_templates_path) }= link_to 'Show Templates', show_templates_path
                %li{ class: is_active?(configs_path)        }= link_to 'Configuration', configs_path
        - else
          %li= link_to 'Sign In', member_session_path


