#notes
  - @notes.order(created_at: :asc).each do |note|
    - if can? :read, note
      %hr
      .note= simple_format note.content
      .byline= "-- #{note.author}"
      - if can? :destroy, note
        = link_to get_icon(:delete), send(klass.class.to_s.underscore + '_note_path', klass.id, note.id), class: 'btn', title: 'Delete', :method => :delete,
                  data: { confirm: 'Delete Note, Are you sure?' }
      - if can? :edit, note
        = link_to get_icon(:edit), send('edit_' + klass.class.to_s.underscore + '_note_path', klass.id, note.id), class: 'btn', title: 'Edit'
