- move ||= false
.admin-commands
  .btn-group.btn-group-sm.pull-right
    - if move == true
      %span{ class: 'btn btn-default', title: 'Reposition' }
        = content_tag( :span, '', class: 'glyphicon glyphicon-move handle' )

    - if can? :read, klass
      = button_tag class: 'btn btn-default hidden-xs hidden-sm', title: 'Show Record' do
        = link_to content_tag( :span, nil, class: 'glyphicon glyphicon-eye-open' ), klass

    - if can? :edit, klass
      = button_tag class: 'btn btn-default', title: 'Edit Record' do
        = link_to content_tag( :span, nil, class: 'glyphicon glyphicon-pencil' ),
            send('edit_' + klass.class.to_s.underscore + '_path', klass)

    - if can? :destroy, klass
      = button_tag class: 'btn btn-default', title: 'Delete Record' do
        = link_to klass, :method => :delete, data: { confirm: 'Are you sure?' } do
          %span.glyphicon.glyphicon-trash


