= simple_form_for @skill do |f|
  - if @skill.errors.any?
    = render 'partials/form_errors', model: @skill

  .row
    .col-sm-2= f.label :code
    .col-sm-2= f.input :code, label: false

  .row
    .col-sm-2=  f.label :name
    .col-sm-6= f.input :name, label: false

  .row
    .checkbox-inline= f.input :training, label: 'Is training required?', class: :checkbox
    .checkbox-inline= f.input :autocrew, label: 'Should we auto-schedule?', class: :checkbox
    .checkbox-inline= f.input :limits, label: 'Does this skill use Shift Limits?', class: :checkbox

  .form-group= f.input :description, input_html: { rows: 3 }

  = f.submit 'Save', class: 'btn btn-default'
