%h1
  Listing skills
  %small in priority order

.table-responsive
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Code
        %th Name
        %th Description
        %th Training?
        %th Autocrew?
        %th
          - if can? :create, @skills
            .text-right= link_to_new new_skill_path


    %tbody.reposition( data-update-url="#{reposition_skills_url}" )
      - @skills.each do |skill|
        = content_tag_for :tr, skill do
          %td= skill.code
          %td= link_to skill.name, skill
          %td= skill.description
          %td= skill.training ? 'Yes' : 'No'
          %td= skill.autocrew ? 'Yes' : 'No'
          %td= render 'partials/admin_commands', klass: skill, move: true

