%h1
  = @skill.name
  %small CODENAME: #{@skill.code}

%p= @skill.description

- if @skill.requires_training?
  .box.plaque
    - if @skill.members.blank?
      %ul.list-unstyled
        %li No one is trained in this skill.
    - else
      %p Trained:
      %ul
        .row
          - @skill.members.each do |member|
            .col-md-4
              %li= link_to_member member
      %br

.pad-top-20
  - if can? :update, @skill
    .pull-right= link_to get_icon(:edit, text: 'Edit'), edit_skill_path(@skill)
  = link_to_back
