'Sup #{@shift.member.firstname},
= "\n"
Remember, you're scheduled #{shift.show.human_date} for #{@shift.skill.name.strip}.
The call time is #{@shift.show.call_time.strip}, please be on time.
= "\n"
- if @shift.show.mc
  If, for any reason, you're going to be late please call #{@shift.show.mc.fullname} at
  #{@shift.show.mc.phones.map(&:fnumber).join(' or ')}.
= "\n"
For your reference, here's who you'll be working with:
= "\n"
- @shift.show.shifts.each do |shift|
  - next if shift.member == @shift.member
  = "\t%s, %s - %s\n".html_safe % [ shift.member.fullname, shift.skill.name.strip, shift.member.phones.map(&:fnumber).join(' or ') ]
= "\n"
Your pal,
= '  -- Larry'

