The following message is waiting for your approval.<br/>
%hr
Sent By: #{@message.sender.name}<br/>
Subject: #{@message.subject}<br/>
= sanitize @message.formatted_text
%hr
%br
You may
= link_to 'click here to approve this message.', message_approve_url(@message)
%br
%em or
%br
= link_to 'click here to View this message', message_url(@message)
