-if can? :manage, Show
  #scheduler.errors
  .pull-right.pad-top-20
    = link_to schedule_shows_path, class: 'btn btn-info auto-schedule', data: { disable_with: 'Processing', remote: true } do
      = content_tag( :span, nil, class: 'glyphicon glyphicon-calendar' ) + ' Auto Schedule'

%h1
  Managing Shifts
  %small sorted by #{@sorted_by.to_s.capitalize}

-#-if can? :create, Shift
-#  .pull-right= link_to content_tag( :span, nil, class: 'glyphicon glyphicon-plus') + ' Add New Shift', new_shift_path

.month-controls
  %h2
    = link_to content_tag( :span, nil, class: 'glyphicon glyphicon-circle-arrow-left'), { date: @date.prev_month }
    = @date.strftime('%B %Y')
    = link_to content_tag( :span, nil, class: 'glyphicon glyphicon-circle-arrow-right'), { date: @date.next_month }

.table-responsive
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th
          = link_to 'Show', :sort => :show
          = content_tag( :span, nil, class: 'caret') if @sorted_by == :show
        %th
          = link_to 'Skill', :sort => :skill
          = content_tag( :span, nil, class: 'caret') if @sorted_by == :skill
        %th
          = link_to 'Member', :sort => :member
          = content_tag( :span, nil, class: 'caret') if @sorted_by == :member
        -#%th

    %tbody
      - @shifts.each do |shift|
        %tr
          %td.col-md-4= shift.show_link
          %td.col-md-4= shift.skill_link
          %td.col-md-4
            = simple_form_for shift, url: shifts_path(id: shift), remote: true, class: 'form-inline' do |f|
              .pull-left
                = f.input :member_id,
                  :collection => @members,
                  :include_blank => true,
                  :label => false,
                  :input_html => { class: 'chosen-select', data: { placeholder: 'No Member Selected' } }
              = f.submit 'Update', class: 'btn btn-default btn-xs'
          -#%td= render 'partials/admin_commands', klass: shift
      - if @shifts.empty?
        %tr
          %td No Shifts Match Criteria
          %td
          %td

