-if can? :manage, Show
  #scheduler.errors
  .pull-right.pad-top-20
    = link_to schedule_shows_path, class: 'btn btn-info auto-schedule', data: { disable_with: 'Processing', remote: true } do
      = content_tag( :span, nil, class: 'glyphicon glyphicon-calendar' ) + ' Auto Schedule'

%h1
  Managing Shifts
  %small sorted by #{@sorted_by.to_s.capitalize}

= render 'partials/month_controls'

.table-responsive
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th
          = link_to 'Show', date: @date, :sort => :show
          = content_tag( :span, nil, class: 'caret') if @sorted_by == :show
        %th
          = link_to 'Skill', date: @date, :sort => :skill
          = content_tag( :span, nil, class: 'caret') if @sorted_by == :skill
        %th
          = link_to 'Member', date: @date, :sort => :member
          = content_tag( :span, nil, class: 'caret') if @sorted_by == :member

    %tbody
      - @shifts.each do |shift|
        = content_tag_for :tr, shift do
          %td.col-xs-4= shift.show_link
          %td.col-xs-4= shift.skill_link
          %td.col-xs-4
            = simple_form_for shift, url: shifts_path(id: shift), remote: true do |f|
              .col-xs-8= f.input :member_id,
                :collection => @members,
                :include_blank => true,
                :label => false,
                :input_html => { onchange: "$('#shift_#{shift.id}').find('input').removeClass('hide')", class: 'chosen-select', data: { placeholder: 'No Member Selected' } }
              .col-xs-4.text-right= f.submit 'Update', class: 'btn btn-default btn-xs hide'
      - if @shifts.empty?
        %tr
          %td{colspan: 3} No Shifts Match Criteria

