#audit-list
  .row
    .col-md-4
      %h1
        Audit Log
        %small for #{@type || 'All'}

  - if @audits.empty?
    %h2 Sorry!
    %h3 No Records #{"of type #{@type}" unless @type.nil?} Found
  - else
    .table-responsive
      %table.table.table-condensed
        %thead
          %tr
            %th Date
            %th Module
            %th By Whom
            %th Details

        %tbody
          - @audits.each do |audit|
            %tr
              %td= audit.timestamp
              %td= audit.ident
              %td= audit.whom
              %td= audit.message

    = will_paginate @audits, renderer: BootstrapPagination::Rails

