#konfig-form
  %h1 Configuration

  = form_tag update_multiple_configs_path, role: :form, class: 'form-horizontal', :method => :patch do
    - @configs.each do |config|
      .row
        = simple_fields_for "konfig_ids[]", config do |c|
          .col-xs-8.col-sm-3.text-right= c.label config.name.titleize
          .col-xs-2.col-sm-1= c.input :value, size: 5, label: false
          .hidden-xs.col-sm-8= c.hint config.desc

    = submit_tag 'Update All', class: 'btn btn-default'

