#konfig-form.row
  .col-sm-8.col-sm-offset-2
    %h1 Configuration

    = form_tag update_multiple_configs_path, role: :form, class: 'form-horizontal', :method => :patch do
      - @configs.each do |config|
        = fields_for "konfig_ids[]", config do |c|
          .form-group.row
            .col-sm-6= c.label config.name.tableize.humanize.titleize
            .col-sm-2= c.number_field :value

      = submit_tag 'Update All', class: 'btn btn-default'

