%h1 Configuration

#konfig-form
  = form_tag update_multiple_configs_path, :method => :patch do
    %table
      - @configs.each do |config|
        %tr
          %td.label= config.name.tableize.humanize.titleize
          = fields_for "konfig_ids[]", config do |c|
            %td.input= c.text_field :value
    = submit_tag "Update All"

