= simple_form_for @show do |f|
  - if @show.errors.any?
    = render 'partials/form_errors', model: @show

  .row
    .col-md-6= f.input :name, disabled: !(can? :manage, @show)
    .col-md-6.box
      - if can? :sell, @show
        .col-md-3= f.input :capacity
        = f.simple_fields_for :tickets do |ticket|
          - Show.ticket_types.each do |type|
            = ticket.input type,
              required: false,
              input_html: { value: @show.tickets.try(type) },
              wrapper_html: { :class => 'col-md-' + ( 9 / Show.ticket_types.count ).to_i.to_s }
  .row
    .col-md-3= f.input :date,     :as => :string, label: 'Show Date', disabled: !(can? :manage, @show), input_html: { class: 'datepicker' }
    .col-md-3= f.input :showtime, :as => :string, label: 'Show Time', disabled: !(can? :manage, @show), input_html: { class: 'timepicker' }
    .col-md-3= f.input :calltime, :as => :string, label: 'Call Time', disabled: !(can? :manage, @show), input_html: { class: 'timepicker' }
    .col-md-3
      = f.association :group,
        :collection    => @groups,
        :include_blank => true,
        :label_method  => :title,
        :disabled      => !(can? :manage, @show),
        :input_html    => { class: 'chosen-select', multiple: false, data: { placeholder: 'All Groups' } }

  .row
    .col-md-4
      %fieldset
        %legend Cast the Show:
        #cast
          = f.association :mc,
              :collection => @mcs,
              :include_blank => true,
              :label_method => :name,
              :disabled => !(can? :manage, @show),
              :label => 'MC ',
              :input_html => { class: 'chosen-select', multiple: false, data: { placeholder: 'Select MC', check_conflicts: @show.id } }

          = f.association :actors,
              :collection => @castable,
              :include_blank => true,
              :label_method => :casting_tag,
              :disabled => !(can? :cast, @show),
              :label => 'Actors ',
              :input_html => { class: 'chosen-select', multiple: true, data: { placeholder: 'Select Actors' } }

    .col-md-8
      %fieldset
        %legend Crew the Show
        #crew
          = f.simple_fields_for :shifts do |shift|
            = render 'shift_fields', f: shift
          - if can? :manage, @show
            .pull-left.links= link_to_add_association get_icon(:add, text: 'Add Shift'), f, :shifts

  -#.row
  -#  %fieldset
  -#    %legend Write the Show
  -#    = f.simple_fields_for :scenes do |builder|
  -#      = render 'scene_fields', f: builder
  -#    .links= link_to_add_association button_tag('Add Scene'), f, :scenes

  .action
    = f.submit class: 'btn btn-default'
