= simple_form_for @show do |f|
  - if @show.errors.any?
    #error_explanation
      %h2= "#{pluralize(@show.errors.count, "error")} prohibited this show from being saved:"
      %ul
        - @show.errors.full_messages.each do |msg|
          %li= msg

  Please select your Cast:
  .cast
    = f.association :members,
      collection: @members,
      include_blank: true,
      input_html: { class: 'chosen-select', data: { placeholder: 'Select Cast by Name' } }
    -#%ul
    -#  - @members.each do |member|
    -#    %li{class: "member_#{member.id}"}= "#{member.name} (#{member.roles.map { |r| r.name }.to_sentence.upcase})"


  .field
    = f.input :date, :as => :string, input_html: { class: 'datepicker' }
    = f.input :showtime, :as => :string, input_html: { class: 'timepicker' }
    = f.input :calltime, :as => :string, input_html: { class: 'timepicker' }

  %fieldset
    %legend Scenes
    = f.simple_fields_for :scenes do |builder|
      = render 'scenes/scene_fields', f: builder
    = link_to_add_fields button_tag('Add Scene'), f, :scenes

  .action
    = f.submit 'Create Show'
