#calendar
  = calendar( date: @date, events: @shows ) do |date|
    - show = @shows.for_date(date).first
    -if show
      %span{ rel: 'tooltip', data: { title: show.name, placement: 'top' } }
        -#= link_to date.day, '', onclick: "scrollTo('#{show.date}-link', 1000, { offset: -50 }).stop"
        = link_to date.day, "##{show.date}-link", class: 'scroll-to-link'
    - else
      // ToDo: Need code to determine the type of show and stylize it appropriately.
      = date.day

