%h1 Listing shows

%table.table.table-striped
  %tr
    %th Date
    %th Call Time
    %th Show Time
    %th Cast
    %th

  - @shows.each do |show|
    %tr
      %td= show.date
      %td= format_time_ampm show.calltime
      %td= format_time_ampm show.showtime
      %td= raw( show.actors.map { |actor| link_to actor.name, member_path(actor) }.to_sentence )
      - if current_member.is_admin?
        %td= render 'partials/admin_commands', klass: show

%br

= link_to 'New Show', new_show_path
