#scheduler.errors

#shows-index

  -if can? :manage, Show
    .pull-right
      = link_to create_shows_path(date: @date), class: 'btn btn-info', data: { disable_with: 'Processing', remote: true } do
        = content_tag( :span, nil, class: 'glyphicon glyphicon-calendar' ) + " Create Shows for #{@date.strftime('%B %Y')}"

  %h1 Shows in #{@date.strftime('%B, %Y')}

  = render 'partials/month_controls', today: 'Today'

  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Date
          %th Name
          %th.hidden-xs.hidden-sm Call Time
          %th.hidden-xs.hidden-sm Show Time
          %th Crew
          %th Cast
          %th
            - if can? :create, Show
              .text-right= link_to content_tag( :span, nil, class: 'glyphicon glyphicon-plus') + ' Add New Show', new_show_path

      %tbody
        - @shows.each do |show|
          %tr
            %td= link_to show.human_date, show_path(show)
            %td= link_to show.name, show_path(show)
            %td.hidden-xs.hidden-sm= format_time_ampm show.calltime
            %td.hidden-xs.hidden-sm= format_time_ampm show.showtime
            %td
              %ul.list-unstyled
                - show.shifts.by_skill_priority.each do |shift|
                  %li
                    .shift-code= shift.skill.code + ':'
                    .shift-name= shift.member.nil? ? content_tag( :span, 'Not Assigned', class: 'red' ) : link_to( shift.member.name, member_path(shift.member) )

            %td
              %ul.list-unstyled
                - show.actors.each do |actor|
                  %li= link_to actor.name, member_path(actor)

            %td= render 'partials/admin_commands', klass: show


