#scheduler.errors

#shows-index

  -if can? :generate, Show
    .pull-right
      = link_to create_shows_path(date: @date), class: 'btn btn-info', data: { disable_with: 'Processing', remote: true } do
        = get_icon 'calendar', text: "Create Shows for #{@date.strftime('%B %Y')}"

  %h1 Shows in #{@date.strftime('%B, %Y')}
  = render 'partials/month_controls'

  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Date
          %th Name
          %th.hidden-xs.hidden-sm Call Time
          %th.hidden-xs.hidden-sm Show Time
          %th Crew
          %th Cast
          %th
            - if can? :create, Show
              .text-right= link_to_new new_show_path

      %tbody
        - @shows.each do |show|
          %tr{ class: ('is-soon' if show.is_today? ) }
            %td= link_to show.human_date, show_path(show)
            %td= link_to show.name, show_path(show)
            %td.hidden-xs.hidden-sm= format_time_ampm show.calltime
            %td.hidden-xs.hidden-sm= format_time_ampm show.showtime
            %td
              %ul.list-unstyled
                - show.shifts.by_skill_priority.each do |shift|
                  %li
                    .shift-code
                      %span{ rel: 'tooltip', title: shift.skill.name, data: { toggle: 'tooltip', placement: 'left' } }= shift.skill.code + ':'
                    .shift-name
                      - if shift.member.nil? or ( shift.hidden and cannot? :manage, show )
                        = content_tag( :span, 'Not Assigned', class: 'red' )
                      - else
                        = link_to_member( shift.member )
                        = get_icon(:hidden, class: 'small') if shift.hidden
                      = ' (T)' if shift.training?

            %td
              %ul.list-unstyled
                - if !show.mc.nil?
                  %li= link_to_member( show.mc ) + ' (MC)'
                - show.actors.each do |actor|
                  %li= link_to_member actor

            %td
              - if show.notes.any?
                %span.pull-left{ rel: 'popover', title: 'Notes',
                  data: { container: 'body', toggle: 'popover', placement: 'auto left', trigger: 'click',
                          content: show.notes.order(:created_at).collect{|n| n.content}.join('<hr/>') }}
                  = get_icon(:comment)
              = render 'partials/admin_commands', klass: show, show: true

  = render 'partials/month_controls'
