%h1 Listing shows

%table
  %tr
    %th Date
    %th Call Time
    %th Show Time
    %th Cast
    %th

  - @shows.each do |show|
    %tr
      %td= show.date
      %td= show.call_time
      %td= show.show_time
      %td= raw( show.members.map { |member| link_to member.name, member_path(member) }.to_sentence )
      %td
        [
        = link_to 'Show', show
        |
        = link_to 'Edit', edit_show_path(show)
        |
        = link_to 'Destroy', show, :method => :delete, :data => { :confirm => 'Are you sure?' }
        ]

%br

= link_to 'New Show', new_show_path
