%p#notice= notice

.show-date
  Date:
  = @show.date
.show-time
  Show Time:
  = format_time_ampm @show.showtime
.show-call-time
  Call Time:
  = format_time_ampm @show.calltime


.show-cast
  Cast:
  %ul
    - @cast.each do |cast|
      %li= "#{cast.name} (#{cast.roles.map { |r| r.name.upcase }.to_sentence})"

.show-crew
  Crew:
  %ul
    - @crew.each do |crew|
      %li= "[#{crew.skill.name}] is #{crew.member.name}"

= link_to 'Edit', edit_show_path(@show)
\|
= link_to 'Back', shows_path
