%p#notice= notice

%p
  %b Date:
  = @show.date
  %br
  %b Call Time:
  = @show.call_time
  %br
  %b Show Time:
  = @show.show_time

%p
  %b Cast:
  %ul
    - @show.members.each do |member|
      %li= member.name

= link_to 'Edit', edit_show_path(@show)
\|
= link_to 'Back', shows_path
