%h1
  = @show.human_date
  %small= @show.name

%ul.list-inline
  %li Show Time: #{format_time_ampm @show.showtime}
  %li Call Time: #{format_time_ampm @show.calltime}

.row
  .col-md-6
    .box
      Cast:
      %ul
        - @actors.each do |cast|
          %li= link_to( cast.name, member_path(cast) ) + " (#{cast.roles.map { |r| r.name }.to_sentence})"

  .col-md-6
    .box
      Crew:
      .col-md-offset-1
        %ul.list-unstyled
          - @shifts.each do |shift|
            %li
              .shift-code= shift.skill.code + ':'
              = shift.member_link

.row
  .col-md-12
    .well
      Notes
      = render 'notes/notes'
      = render 'notes/form'

- if can? :manage, @show
  #{link_to 'Edit', edit_show_path(@show)} | #{link_to 'Back', shows_path}
