
#ticket-sales
  .box{class: ('sold-out' if @show.sold_out?)}
    .header Ticket Sales as of #{@show.updated_at.strftime('%m/%d/%Y @ %T')}
    %ul.list-inline.sales
      - Show.ticket_types.each do |type|
        %li.sale
          .type #{type.capitalize}:
          .count #{@show.send(type)}

%h1
  = @show.gregorian_date
  %small= @show.name

%ul.list-inline.pad-top-20
  %li Show Time: #{format_time_ampm @show.showtime}
  %li Call Time: #{format_time_ampm @show.calltime}

.row
  .col-md-6
    .box
      .row
        .col-md-2 MC
        .col-md-10= link_to_member @show.mc
      .row
        %br
        .col-md-2 Cast
        .col-md-10
          - @actors.each do |cast|
            .row
              .col-md-6= link_to_member( cast )
              .col-md-6.hidden-xs= cast.roles.castable.map { |r| r.title }.to_sentence

  .col-md-6
    .box
      .row
        .col-md-2 Crew
        .col-md-10
          - @shifts.each do |shift|
            .row
              .col-sm-6.hidden-xs
                = shift.skill.name
                = ' (T)' if shift.training?
              .col-xs-4.visible-xs
                = shift.skill.code
                = ' (T)' if shift.training?
              .col-xs-8.col-sm-6= shift.hidden? ? 'Not Published' : link_to_member( shift.member )

.row
  .col-xs-12.col-sm-6.col-md-4
    - if @show.actors.any?
      - if can? :cast, @show
        = link_to get_icon(:email, text: @show.cast? ? "Cast sent at #{@show.casting_sent}" : 'Send Cast Announcement' ),
                  show_casting_announcement_path(@show),
                  class: 'btn btn-default',
                  method: :post,
                  title: ( 'Re-Send?' if @show.cast? ),
                  data: { disable_with: 'Sending emails, please wait', confirm: ('Re-Send Announcement?' if @show.cast?) }
  .col-xs-6.col-sm-3.col-md-2.col-md-offset-4
    - if @show.actors.any?
      - if can? :cast, @show
        %span.pad-top-20.visible-xs
      = link_to get_icon(:email, text: 'Email Cast'),
        new_message_path( subject: "Re: #{@show.gregorian_date}", members: @show.actors.map(&:id) ),
        class: 'btn btn-default'
  .col-xs-6.col-sm-3.col-md-2.text-right
    - if @show.crew_members.any?
      - if can? :cast, @show
        %span.pad-top-20.visible-xs
      = link_to get_icon(:email, text: 'Email Crew'),
        new_message_path( subject: "Re: #{@show.date}", members: @show.crew_members.map(&:id) ),
        class: 'btn btn-default'

.row
  .col-md-12
    .well.pad-top-20
      Notes
      = render 'notes/notes', klass: @show
      = render 'notes/form'

.pad-top-20
  - if can? :update, @show
    .pull-right= link_to get_icon(:edit, text: 'Edit'), edit_show_path(@show)
  = link_to_back
