%h1
  = @show.human_date
  %small= @show.name

%ul.list-inline
  %li Show Time: #{format_time_ampm @show.showtime}
  %li Call Time: #{format_time_ampm @show.calltime}

.row
  .col-md-6
    .box
      .row
        .col-md-2 MC
        .col-md-10= link_to_member @show.mc
      .row
        %br
        .col-md-2 Cast
        .col-md-10
          - @actors.each do |cast|
            .row
              .col-md-6= link_to_member( cast )
              .col-md-6= cast.roles.castable.map { |r| r.title }.to_sentence

  .col-md-6
    .box
      .row
        .col-md-2 Crew
        .col-md-10
          - @shifts.each do |shift|
            .row
              .col-md-6= link_to_member shift.member
              .col-md-6= shift.skill.name

.row
  .col-md-12
    .well
      Notes
      = render 'notes/notes'
      = render 'notes/form'

- if can? :update, @show
  .pull-right= link_to get_icon(:edit, text: 'Edit'), edit_show_path(@show)
= link_to get_icon(:back, text: 'Back'), shows_path
