= form_for @conflict do |f|
  - if @conflict.errors.any?
    = render 'partials/form_errors', model: @conflict

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :member
    = f.text_field :member
  .actions
    = f.submit 'Save'
