%h1 Conflicts for #{@member.name}

-#= simple_form_for :conflicts do |f|
-#  = f.input :member,
-#    collection: @members,
-#    include_blank: false,
-#    label: 'Showing conflicts for:',
-#    member: @selected.id,
-#    input_html: { class: 'chosen-select', onchange: 'submit()' }


#conflicts
  - if @member.is_crewable? or @member.is_castable?

    %h2#month
      //We don't use TurboLinks for the navigation buttons because it breaks our JS
      = link_to '<', { date: @date.prev_month }
      = @date_string
      = link_to '>', { date: @date.next_month }

      -#= button_to 'Today', { date: false }, method: :get

    =content_tag('div', id: 'max-note',
        class: [ @conflict_count  > @max_conflicts ? 'over-limit' : nil,
                 @conflict_count == @max_conflicts ? 'at-limit'   : nil ],
        data: { max_conflicts: @max_conflicts }) do
      You have selected
      %span.cur-count= @conflict_count
      of your
      %span.max-count= @max_conflicts
      conflicts.

      =content_tag('div', class: [ 'over-limit-note', @conflict_count <= @max_conflicts ? 'hidden' : nil ] ) do
        Any beyond the first #{@max_conflicts} may be ignored during scheduling.

    = calendar( date: @date, events: @conflicts ) do |date|
      -if Date.today <= date or current_member.is_admin?
        = link_to date.day, { date: date, :action => :set_conflicts }, :method => :put, remote: true, onclick: "calendarClick('#{date.to_s}')"
      - else
        = date.day

    .instructions
      Please tap or click on a day to set or remove a conflict.
      = 'You may not choose a date from the past.' unless current_member.is_admin?

    .legend
      %span.red RED
      days indicate current conflicts.
      %span.darkred DARKRED
      days are locked conflicts (which cannot be changed)

    -#.summary= "Conflicts for #{@date_string}: #{@conflicts_this_month.empty? ? 'None' : @conflicts_this_month.map{ |c| c.datetime.day }.to_sentence}"

  - else
    Hmmm, it doesn't look like #{@member.firstname} has any need for conflicts.
    If you think this may be an error, check his/her Skills and/or Roles.
