<div class="container">   
<% if !flash[:notice].blank? %>   
   <div>   
      <%= flash[:notice] %>   
   </div>   
<% end %> 

  
<br>  
<% if current_member.has_role?(:admin) %>
<%= link_to "New Document", new_wwitdocument_path %> 
<% end %>
<br>   
<br>   
  
<table border="3">   
   <thead>   
      <tr>   
         <th>Document Name</th>   
         <th>Download Link</th> 
         <% if current_member.has_role?(:admin) %>
         <th>Action</th>     
         <% end %>
      </tr>   
   </thead>   
      
   <tbody>   
      <% @wwitdocuments.each do |wwitdocument| %>   
            
         <tr>   
            <td><%= wwitdocument.doc_name %></td>   
            <td><%= link_to "Download", wwitdocument.attachment_url %></td> 
            <% if current_member.has_role?(:admin) %>
            <td><%= link_to "Delete",  wwitdocument, method: :delete, confirm: "Are you sure you want to delete #{wwitdocument.doc_name}?" %></td>
            <% end %>
         </tr>   
            
      <% end %>   
   </tbody>   
      
</table>   
</div> 