<div class="container">     
<% if !@wwitdocument.errors.empty? %>   
   <div>   
         
      <ul>   
         <% @wwitdocument.errors.full_messages.each do |msg| %>   
            <li><%= msg %></li>   
         <% end %>      </ul>   
         
   </div>   
<% end %>   
  
<div>   
   <%= form_for @wwitdocument, html: { multipart: true } do |f| %>   
      <%= f.label :doc_name %>   
      <%= f.text_field :doc_name %>   
      <br><br> 
      <%= f.label :attachment %>   
      <%= f.file_field :attachment %>   
      <br>   
      <%= f.submit "Save" %>   
   <% end %>   
</div>   
</div>  