<div class="container">     
<% if !@wwitdocument.errors.empty? %>   
   <div>   
         
      <ul>   
         <% @wwitdocument.errors.full_messages.each do |msg| %>   
            <li><%= msg %></li>   
         <% end %>      </ul>   
         
   </div>   
<% end %>   

<br>   
<h1>New Document</h1>
<div>   
   <%= form_for @wwitdocument, html: { multipart: true } do |f| %>   
      <%= f.label :doc_name %>   
      <%= f.text_field :doc_name %>   
      <br><br> 
      <%= f.label :attachment %>   
      <%= f.file_field :attachment %>   
      <br>   
      <%= button_tag :type => :submit, class: 'btn btn-default' do %>
      <%= get_icon(:send, text: 'Save Document') %>
      <% end %>
   <% end %>   
</div>   
</div>  