= simple_form_for @show_template, html_input: { class: 'form-horizontal' } do |f|
  - if @show_template.errors.any?
    = render 'partials/form_errors', model: @show_template

  .row
    .col-md-2=  f.label :name
    .col-md-10= f.input :name, label: false
  .row
    .col-md-2= f.label :day_of_week
    .col-md-2= f.input :dow, collection: @days_of_week, label: false
  .row
    .col-md-2= f.label :calltime
    .col-md-2= f.input :calltime, :as => :string, input_html: { class: 'timepicker' }, label: false
  .row
    .col-md-2= f.label :showtime
    .col-md-2= f.input :showtime, :as => :string, input_html: { class: 'timepicker' }, label: false
  .row
    .col-md-2=  f.label 'Required Skills'
    .col-md-10= f.association :skills, collection: @skills, as: :check_boxes, label: false

  = f.submit 'Save', class: 'btn btn-default'
