= simple_form_for @show_template do |f|
  - if @show_template.errors.any?
    #error_explanation
      %h2= "#{pluralize(@show_template.errors.count, "error")} prohibited this show_template from being saved:"
      %ul
        - @show_template.errors.full_messages.each do |msg|
          %li= msg

  .field= f.input :name
  .field= f.input :dow, collection: @days_of_week
  .field
    = f.input :calltime, :as => :string, input_html: { class: 'timepicker' }
    = f.input :showtime, :as => :string, input_html: { class: 'timepicker' }
  .field= f.association :skills, collection: @skills, as: :check_boxes, label: 'Required Skills'
  .actions= f.submit 'Save'
