- if can? :manage, Show
  .pull-right
    .pad-top-20
      = link_to create_shows_path(date: @date), class: 'btn btn-info', data: { disable_with: 'Processing', remote: true } do
        = get_icon 'calendar', text: "Create Shows for #{@date.strftime('%B %Y')}"

%h1 Show Templates
%p
  These entries will be used to auto-generate the shows for each month.
%p
  %em
    Please note that any changes made herein will only affect future shows,
    and will not modify any shows already created.


.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Day of Week
        %th Name
        %th Call Time
        %th Show Time
        %th Required Shifts
        %th
          -if can? :create, @show_templates
            .text-right= link_to_new new_show_template_path

    %tbody
      - @show_templates.each do |show_template|
        %tr
          %td= show_template.day
          %td= show_template.name
          %td= format_time_ampm show_template.calltime
          %td= format_time_ampm show_template.showtime
          %td
            %ul
              - if show_template.skills.empty?
                N/A
              - show_template.skills.each do |skill|
                %li= skill.name

          %td= render 'partials/admin_commands', klass: show_template

