!!!
%html
  %head
    %title Backstage
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  %body
    #flash-messages
      - flash.each do |name, message|
        = content_tag :div, :class => ['alert', bs_alert_name(name), 'alert-dismissable'] do
          = message
          = button_tag 'x', class: 'close', data: { dismiss: 'alert' }, 'aria-hidden' => 'true'


    = render 'partials/body_header'
    = render 'devise/menu/login_items'

    .container= yield

