!!!
%html
  %head
    %title Backstage
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = render 'partials/shim'
    = csrf_meta_tags

  %body
    = render 'partials/flash_messages', flash: flash if flash.any?
    = render 'partials/body_header'
    .container= yield
    = render 'partials/body_footer'

