!!!
%html
  %head
    %title Backstage
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    - unless notice.nil?
      %p.notice= notice
    - unless alert.nil?
      %p.alert= alert

    - if member_signed_in?
      Logged in as
      = link_to current_member.email, edit_member_path(current_member)
      = '|'
      = link_to "Logout", destroy_member_session_path, method: :delete
    - else
      = link_to "Login", new_member_session_path

    = yield

