= simple_form_for @member do |f|
  - if @member.errors.any?
    #error_explanation
      %h2 Please correct the following errors.
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  .field= f.input :username
  .field
    = f.label 'Full Name'
    = f.input_field :firstname, placeholder: 'first'
    = f.input_field :lastname, placeholder: 'last'
  .field= f.input :email

  = f.input :password, :autocomplete => ( action_name == 'new' ? "on" : "off" ),
            :hint => "leave it blank if you don't want to change it",
            :required => ( action_name == 'new' )
  = f.input :password_confirmation, :required => false
  - if action_name == 'edit'
    = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true

  .field
    = f.label 'Phone Number (digits only):'
    = f.simple_fields_for :phones do |builder|
      = render 'phone_fields', f: builder
    = link_to_add_fields 'Add Phone', f, :phones
  .field= f.association :skills, :label_method => :description
  .field= f.association :roles,  :label_method => :title, as: 'check_boxes'

  .actions= f.submit 'Save'
