= simple_form_for @member, style: :horizontal do |f|
  - if @member.errors.any?
    #error_explanation.red.box
      %h2 Please correct the following errors.
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    = f.input :firstname
    = f.input :lastname
    = f.input :email

  %fieldset
    = f.input :password, autocomplete: 'off', required: false
    = f.input :password_confirmation, required: false, hint: "<em>Leave password blank if you don't want to change it</em>".html_safe

  %fieldset
    .row
      .col-sm-2= f.label :sex
      .col-sm-2.radio-inline= f.input :sex, as: :radio_buttons, collection: [ :M, :F ], class: :radio, boolean_style: :inline, label: false

      .col-md-2= f.label :birthday
      .col-md-4.form-inline= f.input :dob, as: :date, label: false,
                start_year: Date.today.year - 80,
                end_year:   Date.today.year - 10,
                order: [ :month, :day, :year ],
                include_blank: true

  %fieldset
    = f.label 'Phone Number (digits only):'
    .phones
      = f.simple_fields_for :phones do |builder|
        = render 'phone_fields', f: builder
      = link_to_add_association content_tag( :span, nil, class: 'glyphicon glyphicon-plus') + ' Add New Phone', f, :phones

  - if current_member.is_admin?
    .well
      .col-md-2= f.label :skills
      .col-md-4= f.association :skills, :label_method => :name, label: false, :input_html => { size: @total_skills.count }
      .col-md-2= f.label :roles
      %fieldset.col.md-4= f.association :roles,  :label_method => :title, as: 'check_boxes', label: false

    = f.submit 'Save', class: 'btn btn-default'
