= simple_form_for @member, style: :horizontal do |f|
  - if @member.errors.any?
    #error_explanation
      %h2 Please correct the following errors.
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  = f.input :firstname
  = f.input :lastname
  = f.input :email

  = f.input :password, autocomplete: 'off', required: false
  = f.input :password_confirmation, required: false, hint: "Leave blank if you don't want to change it"

  = f.label 'Phone Number (digits only):'
  = f.simple_fields_for :phones do |builder|
    = render 'phone_fields', f: builder

  %p
    .col-md-offset-1= link_to_add_association button_tag('Add Phone Number', class: [ :btn, 'btn-default' ] ), f, :phones

  - if current_member.is_admin?
    .row
      %fieldset
        .col-md-1= f.label :skills
        .col-md-4= f.association :skills, :label_method => :name, label: false, :input_html => { size: @total_skills.count }
        .col-md-1
        .col-md-1= f.label :roles
        .col.md-4
          %fieldset= f.association :roles,  :label_method => :title, as: 'check_boxes', label: false

    = f.submit 'Save', class: 'btn btn-defalt'
