= simple_form_for @member, style: :horizontal do |f|
  - if @member.errors.any?
    = render 'partials/form_errors', model: @member

  %fieldset
    .row
      .col-md-4= f.input :firstname
      .col-md-4= f.input :lastname
      .col-md-4= f.input :email

  %fieldset
    .row
      .col-md-6= f.input :password, autocomplete: 'off', required: false, hint: '<em>Leave password blank if you don\'t want to change it.</em>'.html_safe
      .col-md-6= f.input :password_confirmation, required: false

  %fieldset
    %legend Optional
    .box
      .row
        .col-md-4= f.label 'Phone Number (digits only, please):'
        .col-md-2
          = link_to_add_association get_icon(:add, text: 'Add New Phone'), f, :phones,
            { data: { 'association-insertion-method' => 'after', 'association-insertion-node' => '.phone-fields' }}
      .row
        .phone-fields
          = f.simple_fields_for :phones do |builder|
            = render 'phone_fields', f: builder

      .row
        .col-md-4= f.label 'Address:'
        .col-md-2
          = link_to_add_association get_icon(:add, text: 'Add New Address'), f, :addresses,
            { data: { 'association-insertion-method' => 'after', 'association-insertion-node' => '.address-fields' }}
      .row
        .address-fields
          = f.simple_fields_for :addresses do |builder|
            = render 'address_fields', f: builder

    .box
      .row
        .col-xs-1= f.label 'Sex:'
        .col-xs-1.radio-inline= f.input :sex, as: :radio_buttons, collection: [ :M, :F ], class: :radio, boolean_style: :inline, label: false

        .col-xs-2.col-md-1.col-xs-offset-1= f.label 'Birthday:'
        .col-xs-6.form-inline= f.input :dob, as: :date, label: false,
                  start_year: Date.today.year - 10,
                  end_year:   Date.today.year - 90,
                  order: [ :month, :day, :year ],
                  include_blank: true

  - if can? :update, @member
    .plaque
      %fieldset
        %legend Administrative
        .row
          .col-md-4= f.association :skills, :label_method => :name, :input_html => { size: @total_skills.count }
          - if current_member.is_admin?
            .col-md-4.col-md-offset-2= f.association :roles, :label_method => :desc, as: 'check_boxes'
        .row
          .col-md-4
            = f.input :active, class: 'checkbox', label: 'Active Member?',
              hint: 'Disabling a member removes them from all crew and cast eligibility.'

  = f.submit class: 'btn btn-default'
