%ul
  %li= link_to 'Configuration', configs_path
  %li= link_to 'Members', members_path
  %li= link_to 'Conflicts', conflicts_path
  %li= link_to 'Skills', skills_path
  %li= link_to 'Show Templates', show_templates_path
  %li= link_to 'Shows', shows_path
