%h2= "Welcome #{@member.firstname}!"
%p
  - unless @skills.empty?
    Congratulaions, you've been trained in the following skills:
    %ul
      - @skills.each do |skill|
        %li= skill.description

%ul
  %li= link_to 'Members Listing', members_path
  %li= link_to 'Skills Listing',  skills_path

