%h2= "Welcome #{@member.firstname}!"
%p
  - unless @skills.empty?
    Congratulaions, you've been trained in the following skills:
    %ul
      - @skills.each do |skill|
        %li= skill.description

%ul
  %li= link_to 'Member Listing', members_path
  %li= link_to 'Skill Listing',  skills_path
  %li= link_to 'Show Listing',  shows_path

