%h1 Listing members

%table
  %tr
    %th Name
    %th Email
    %th Phone(s)
    %th
    %th
    %th

  - @members.each do |member|
    %tr
      %td= member.fullname
      %td= member.email
      %td
        %ul
          - member.phones.by_type.each do |phone|
            %li= phone.listing

      %td= link_to 'View', member
      %td= link_to 'Edit', edit_member_path(member)
      %td= link_to 'Destroy', member, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Member', new_member_path
