#member-list
  .row
    .col-md-4
      %h1 Listing #{pluralize(@members.count, 'Member')}
    .col-md-4.col-md-offset-4
      = form_tag members_path, :method => 'get', role: 'form', class: 'pad-top-20 form-inline', id: 'member_search' do
        .input-group
          = search_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search'
          %span.input-group-btn= submit_tag "Search", :name => nil, class: 'btn btn-default'

  #members-table= render 'members_list'

  = will_paginate @members, renderer: BootstrapPagination::Rails

