%h1 Listing members

#member-list
  .table-responsive
    %table.table.table-striped
      %tr
        %th Name
        %th Phone(s)
        %th Email
        - if can? :view, @members
          %th Role(s)
        - if can? :manage, @members
          %th

      - @members.each do |member|
        %tr
          %td.name= member.fullname
          %td.phone
            %ul
              - member.phones.by_type.each do |phone|
                %li= phone.listing
          %td.email= mail_to member.email

          - if can? :view, @members
            %td= member.roles.by_name.map{|r| r.name}.join(', ')

          - if can? :manage, @members
            %td
              = link_to 'View', member
              = '|'
              = link_to 'Edit', edit_member_path(member)
              = '|'
              = link_to 'Destroy', member, :method => :delete, :data => { :confirm => 'Are you sure?' }

  = will_paginate @members
  %br

  -if current_member.is_admin?
    = link_to 'New Member', new_member_path
