%h1 Listing members

#member-list
  %table
    %tr
      %th Name
      %th Email
      %th Phone(s)
      %th Role(s)
      %th

    - @members.each do |member|
      %tr
        %td.name= member.fullname
        %td.email= mail_to member.email
        %td.phone
          %ul
            - member.phones.by_type.each do |phone|
              %li= phone.listing
        %td= member.roles.by_name.map{|r| r.name}.join(', ')

        %td= link_to 'View', member
        %td= link_to 'Edit', edit_member_path(member)
        %td= link_to 'Destroy', member, :method => :delete, :data => { :confirm => 'Are you sure?' }

  = will_paginate @members
  %br

  -if current_member.is_admin?
    = link_to 'New Member', new_member_path
