%h1
  Listing Roles

%ul
  %li Cast?  : Are members of this group eligible for casting?
  %li Crew?  : Are members of this group eligible to crew shifts?
  %li CM?    : Are members of this group considered a "Company Member"?  (By default, mass Announcements will only go to these members)
  %li Sched? : Should we attempt to auto-schedule members of this group?

.table-responsive
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Code
        %th Title
        %th Description
        %th Cast?
        %th Crew?
        %th CM?
        %th Sched?
        %th Members

    %tbody
      - @roles.each do |role|
        %tr
          %td= role.code
          %td= role.title
          %td= role.desc
          %td= role.cast     ? 'Yes' : 'No'
          %td= role.crew     ? 'Yes' : 'No'
          %td= role.cm       ? 'Yes' : 'No'
          %td= role.schedule ? 'Yes' : 'No'
          %th
            %ul.list-unstyled
              - role.members.by_name.each do |member|
                %li= link_to_member member
