%p#notice= notice

#member
  .name= @member.name
  .email= @member.email
  .training
    Training
    %ul
    - @skills.each do |skill|
      %li= skill.name
    - if @skills.empty?
      %li Untrained

  .shows
    Recent and Upcoming Shows
    .show
      %ul
      - @shows.each do |show|
        %li= link_to "#{show.date} - #{show.name}", show_path(shift.show)
      - if @shows.empty?
        %li No upcoming Shows

  .shifts
    Recent and Upcoming Shifts
    .shift
      %ul
      - @shifts.each do |shift|
        %li= link_to shift.text, show_path(shift.show)
      - if @shifts.empty?
        %li No upcoming Shifts

  .notes
    Notes
    = render 'notes/notes'
    = render 'notes/form'

= link_to 'Edit', edit_member_path(@member)
\|
= link_to 'Back', members_path

