%p#notice= notice

%p
  %b Lastname:
  = @member.lastname
%p
  %b Firstname:
  = @member.firstname
%p
  %b Email:
  = @member.email

%h2 Notes
= render 'notes/notes'
= render 'notes/form'

= link_to 'Edit', edit_member_path(@member)
\|
= link_to 'Back', members_path

