#member
  - unless @member.is_active?
    .pull-right
      %h3.inactive= 'INACTIVE'

  .row
    .col-md-6
      %h1
        = @member.name
        %small= mail_to @member.email
    .col-md-6
      %h4.text-right
        %ul.list-unstyled
          - @member.phones.by_type.each do |phone|
            %li= link_to phone.long_listing, phone.as_tel_link

  .row
    - if @member.is_castable?
      .col-md-12
        .plaque
          %h3.no-top-pad Recent and Upcoming Shows
          - if @shows.empty?
            %p No upcoming Shows
          - else
            %table.table.table-condensed
              %th Date / Name
              %th Cast
              %th Crew
              - @shows.each do |show|
                %tr
                  %td.col-md-4= link_to "#{show.date} - #{show.name}", show_path(show)
                  %td.col-md-4
                    %ul
                      - show.actors.each do |member|
                        %li= link_to(member.name, member_path(member))
                  %td.col-md-4
                    %ul.list-unstyled
                      - show.shifts.each do |shift|
                        %li
                          .shift-code= shift.skill.code + ':'
                          = shift.member_link

  .row
    - if @member.is_crewable?
      .col-md-12
        .plaque
          %h3.no-top-pad Recent and Upcoming Shifts
          - if @shifts.empty?
            %p No upcoming Shifts
          - else
            %ul
              - @shifts.each do |shift|
                %li= link_to shift.text, show_path(shift.show)

  .row
    .col-md-12
      .box
        %h3.no-top-pad Latest Announcements

  .row
    - if @member.is_castable? or @member.is_crewable?
      .col-md-4
        .plaque
          %h3.no-top-pad Groups
          %ul
            - @member.roles.each do |role|
              %li= role.desc

      .col-md-4
        .plaque
          %h3.no-top-pad Skills
          - if @skills.empty?
            %p No Skills Assigned
          - else
            %ul
              - @skills.each do |skill|
                %li= skill.name

      .col-md-4
        .plaque
          %h3.no-top-pad Conflicts
          - if @conflicts.empty?
            %p No Conflicts
          - else
            %ul
              - @conflicts.each do |conflict|
                %li= conflict.date
          - if is_authorized?(@member)
            = link_to 'Manage Conflicts', manage_member_conflicts_path(@member)

  - if can? :update, @member
    .box
      .row
        %fieldset
          %legend Confidential Information
          .col-md-2 Sex: #{@member.sex.nil? ? 'N/A' : @member.sex}
          .col-md-4 Birthday: #{@member.birthday}
          .col-md-2 Address:
          .col-md-4
            - @member.addresses.each do |address|
              %strong= address.atype
              %address
                = address.street1
                - unless address.street2.blank?
                  %br
                  = address.street2
                %br
                = address.city
                = address.state + ', '
                = address.zip
            - if @member.addresses.empty?
              No Address Provided

  .row
    .col-md-12
      .plaque
        Notes
        = render 'notes/notes'
        = render 'notes/form'

- if can? :update, @member
  = link_to 'Edit', edit_member_path(@member)

